/* Reset Amaze style */
.am-container { max-width: 640px; }
h1 { font-size: 2.00em; margin-top: 1.00em; }
h2 { font-size: 1.50em; margin-top: 0.50em; }
h3 { font-size: 1.25em; margin-top: 0.25em; }

/* Our own */
.banner {
  position: relative;
  overflow-x: hidden;
  height: 300px;
  background-color: #27cc2c;
  background-image: url("icon-o.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: top center;
}

.banner-title {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}

h1.banner-title {
  top: 60px;
  font-size: 48px;
}

p.banner-title {
  top: 60px;
  font-size: 20px;
}

.banner-btnbox {
  position: relative;
  top: 80px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  h1.banner-title {
    top: 80px;
    font-size: 32px;
  }
  p.banner-title {
    top: 80px;
    font-size: 16px;
  }
  .banner-btnbox {
    top: 120px;
  }
}

.ctl-color {
  display: inline-block;
  padding: 10px 13px;
  color: white;
  font-weight: bold;
}

.ctl-other {
  display: inline-block;
  padding: 9px 12px;
  border: 1px solid black;
  font-weight: bold;
}

#demo-container {
  position: relative;
  margin: 0 auto;
  width: 100;
  height: 270px;
  border: 1px solid black;
}

.demo-bullet {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.demo-lead {
  color: #c8c8c8;
}

#demo-bullet1 {
  color: #333333;
  font-size: 24px;
  top: 100px;
}

#demo-bullet2 {
  color: #ea428a;
  font-size: 12px;
  bottom: 0px;
}
