/*
 * Reset
 */

.slide:after { display: none; }

/*
 * Global
 */

small { font-size: 0.8em; }

/*
 * Each slide
 */

#join textarea {
  margin-top:10px;
  width: 100%;
  height: 450px;
  font-size: 1em;
}

#thanks li { margin-left: 2em; }
